---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Joshua Grant">
  <main>
    <!-- Intro secion -->
    <section>
      <h3 class="font-open-sans">Hey there I'm Josh &#128075;</h3>
    </section>
    <!-- About me -->
    <section></section>
    <!-- Skills -->
    <section></section>
    <!-- Projects -->
    <section></section>
    <!-- Work experience -->
    <section></section>
    <!-- Contact form -->
    <section></section>
  </main>
</Layout>
