<header
  class="text-center py-4 md:px-8 block md:flex md:justify-between border-b-dark-red border-b-4"
>
  <h1 class="text-4xl font-bold font-open-sans text-floral-white">
    Joshua Grant
  </h1>
  <p class="text-lg font-light font-open-sans text-floral-white">
    Welcome to my portfolio
  </p>
</header>
