<header class="fixed w-full py-4 md:px-8 border-b-floral-white border-b-4">
  <nav class="max-w-7xl mx-auto flex justify-center md:justify-between">
    <a href="/" class="text-lg font-bold font-open-sans text-floral-white">
      Joshua Grant
    </a>
    <ul class="hidden md:flex gap-x-8">
      <li>
        <a href="/" class="text-lg font-bold font-open-sans text-floral-white">
          Blog
        </a>
      </li>
      <li>
        <a href="/" class="text-lg font-bold font-open-sans text-floral-white">
          Projects
        </a>
      </li>
      <li>
        <a href="/" class="text-lg font-bold font-open-sans text-floral-white">
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
