---
export interface Props {
  name: string;
  body: string;
  img: {
    url: string;
    alt: string;
  };
}

const { name, img, body } = Astro.props;
---

<div class="bg-floral-white rounded-md p-4 w-full flex flex-col">
  <img
    src={img.url}
    alt={img.alt}
    class="self-center rounded-md"
    width="150"
    height="150"
  />
  <h5 class="font-open-sans">{name}</h5><p class="font-open-sans">
    {body}
  </p>
</div>
